/* --------------------------------------------------------------------- */
/* Pages
/* --------------------------------------------------------------------- */
.mi-swiper-slide {
  width: 100%;
  max-width: 720px;

  .swiper-container {}
}

.mi-video-js {
  .video-js {
    width: 100%;
    max-width: 720px;
  }

  video {
    max-width: 100%;
  }
}