<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Form Email</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
 
</head>
<body>
  <div style="font-family: 'Nanum Gothic', sans-serif;font-size: 14px;line-height: 1.53846;font-weight: normal;color: #606569;width: 100%;max-width: 680px;background: #fff;">
    <div style="padding: 20px 20px 0;">
      <div style="margin-bottom: 9px;"><img src="http://52.69.130.124/images/logo.png" alt="logo" style="max-height: 32px;"></div>
      <div style="background: #f3f3f3;padding: 45px 42px 28px;">
        <div style="font-size: 30px;color: #202020;margin-bottom: 16px;"><strong>임시 비밀번호</strong>가 발송 되었습니다</div>
        <div style="font-size: 13px;color: #606569;margin-bottom: 74px;">회원님께서 micimpact tv에서 요청하신 비밀번호가 발송되었습니다.<br>임시 비밀번호로 로그인을 하신 후에는<br>안전한 비밀번호로 변경하여 주시기 바랍니다.</div>
        <div >
          <div style="font-size: 13px;color: #606569; margin-bottom: 7px;">임시 비밀번호</div>
          <div style="min-height: 60px;font-size: 20px;color: #606569;background: #fff;padding: 20px 20px;">${password}</div>
        </div>
      </div>
      <div style="font-size: 12px;padding: 20px 20px;">본 이메일은 발신전용입니다.<br>Copyright <strong>micimpact</strong> Corp. All Rights Reserved.</div>
    </div>
    <div style="background: #f3f3f3;padding: 20px 20px;">
      <div style="content:'';clear: both;display: table;" class="fe-col-wrapper">
        <div style="float: left;position: relative;min-height: 1px;width: 26%;"><img src="http://52.69.130.124/images/logo.png" alt="logo" style="max-height: 32px;"></div>
        <div style="width: 74%;font-size: 12px;color: #666666;float: left;position: relative;min-height: 1px;" >서울시 종로구 관철동 45-1 대왕빌딩 11-13층  &nbsp;|&nbsp;  (주) 마이크임팩트<br>Tel. 02-722-2054   &nbsp;|&nbsp;  Fax. 02-722-1551   &nbsp;|&nbsp;   대표자: 한동헌   &nbsp;|&nbsp;   사업자번호: 220-87-75784</div>
      </div>
    </div>
  </div>
</body>